h1 {
    color: darkorchid;
    text-align: center;
    margin-top: 50px;

}

p {
    text-align: left;
    margin: 50px;
    position: relative;
    font-size: 20px;
    font-weight: bold;
}

#myGame {
    border: 1px solid black;
    position: relative;
    left: 42%;
    top: 50%;
    margin-left: -250px;
    margin-top: -300px;
    background: linear-gradient(to top, green, teal);

}


body {
    background-color: lightblue;
}

button {
    position: absolute;
}